@model CLDV_POE_PART_TWO.ViewModels.CartViewModel





<h2>Confirm Your Order</h2>
<div>
    <h3>Items</h3>
    <ul>
        @foreach (var item in Model.CartItems)
        {
            <li>@item.ProductName -  @item.FormattedPrice </li>
        }
    </ul>
    <p><strong>Total: $@Model.FormattedTotalPrice</strong></p>
</div>



@* <form asp-controller="Checkout" asp-action="CreateOrder" method="post">
    <button type="submit" class="btn btn-success">Place Order</button>
</form>
<!--Moved out of form to avoid submitting it-->
<a asp-controller="Carts" asp-action="ViewCart" class="btn btn-warning">Return to Cart</a>
<a asp-controller="Carts" asp-action="ViewCart">Back to List</a>
 *@


<a asp-controller="Carts" asp-action="ViewCart" class="btn btn-warning d-inline me-2">Return to Cart</a>

<form asp-controller="Checkout" asp-action="CreateOrder" method="post" class="d-inline me-2">
    <button type="submit" class="btn btn-success">Place Order</button>
</form>

