@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">

    <h5>
        Welcome to KhumaloCraft Emporium, a global marketplace celebrating the creativity
        and craftsmanship of artisans spanning the globe.
        At KhumaloCraft, we cherish the rich heritage of traditional craftsmanship
        while embracing individuality, diversity, and innovation.
    </h5>
    <br />
    <h2>Our Mission</h2>
    <p>

        Our mission is simple, to provide a platform that will allow artisans to display their unique creations, and where customers can enjoy such works made
        from hardwork and passion. Our ultimate aim is to forge a connection between our creators and potential customers on a global scale.
    </p>

    <h2>Our Story</h2>
    <p>
        KhumaloCraft Emporium was founded by James Khumalo, an entrepreneur who had the goal in mind to create a platform to connect artisans and customers from all over the
        globe, together. James's goal arose from his deep admiration and love for handmade craftmanship, and the realisation that some of these artists are without oppurtunity or
        a platform to launch their work.
    </p>

    <h2>What We Offer</h2>
    <p>

        At KhumaloCraft Emporium, explore our unique collection of handcrafted items, including clothing, art pieces, home decor,
        jewelry, and accessories. Each piece is carefully selected for its quality and craftsmanship, guaranteeing an authentic work of art with every purchase.
    </p>

    <h2>Supporting Artisans</h2>
    <p>
        When you buy from KhumaloCraft Emporium, you're not just getting great products – you're also supporting local artists and their communities.
        We prioritize ethical sourcing and sustainable practices, so your purchase directly benefits craftsmen and preserves traditional crafts for the future.
    </p>

    <h2>Get in Touch</h2>

    <p>
        Whether you're a shopper seeking unique handmade treasures or an artist looking to showcase your work, we're eager to connect with you.
        Reach out to KhumaloCraft Emporium today to get started.

        Thank you for joining us on this journey. Let's celebrate the beauty of handmade items and support artists worldwide together.
    </p>


</div>