@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome to Khumalo Craft</h1>

    <p class="justified">

        KhumaloCraft Emporium celebrates gifted artisants and their craftmanship from all around the globe. Our platform provides a marketplace, allowing
        artisans from everywhere to share their products, their skills and their stories.
    </p>

    <h2>Explore Handcrafted Treasures</h2>
    <p class="justified">

        You will find we have an incredibly diverse collection of handcrafted works from artisans, who worked painstakingly hard to produce fine, meticulously crafted works.
        Our collection has elegant and intricate jewewlry, captivating sculptures and much more.
    </p>
    <h2>Shop with Purpose</h2>
    <p class="justified">

        Each purchase made by you gives support to these handworking artisans from all over the globe. Help lift up these artisans and protect their livelihoods, tradition
        and culture.
    </p>

    <h2>Start Your Journey Today</h2>
    <p class="justified">

        Start your journey today, and dive into the world of arts and craftmanship with KhumaloCraft Emporium.
    </p>


</div>
